.list-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates four equal-width columns */
  gap: 10px; /* Adds a gap of 10px between each column */
  padding-bottom: 20px;
}

.OneCharacter-Container {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 250px;
  background: rgba(158, 158, 158, 0.671);
  border-radius: 25px 25px;
  color: black;
  font-weight: bold;
}

.image-character {
  position: relative;
  margin-bottom: -16px;
}

.update-btn {
  margin-top: 8px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ffdd6e, #ffa600);
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}
.update-btn:active {
  background: linear-gradient(to bottom, #b9a14f, #976200);
}
.update-btn:hover {
  background: linear-gradient(to bottom, #f0d067, #db8f01);
}

.list-multi-purpose-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.edit-list-button {
  margin-top: 8px;
  cursor: pointer;
  background: linear-gradient(to bottom, #67d9ee, #0087d7);
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  transition-duration: 2s;
  transition-property: background;
}

.edit-list-button:hover {
  background: linear-gradient(to bottom, #5ac1d3, #016aa7);
}
.edit-list-button:active {
  background: linear-gradient(to bottom, #4ea8b8, #015586);
}
