.list-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates four equal-width columns */
  gap: 10px; /* Adds a gap of 10px between each column */
  padding-bottom: 20px;
}

.OneCharacter-Container {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 250px;
  background: rgba(158, 158, 158, 0.671);
  border-radius: 25px 25px;
  color: black;
  font-weight: bold;
  /* background-color: rgba(18, 59, 94, 0.76); */
}

.image-character {
  position: relative;
  margin-bottom: -16px;
}

.update-btn {
  margin-top: 8px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ffdd6e, #ffa600);
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}
.update-btn:active {
  background: linear-gradient(to bottom, #e7c863, #c47f00);
}

.list-multi-purpose-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.edit-list-button {
  margin-top: 8px;
  cursor: pointer;
  background: linear-gradient(to bottom, #67d9ee, #0087d7);
  border-radius: 5px;
  box-shadow: 0px 0px 3px black;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
}
