.All-lists-Container {
  margin-top: 90px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.character-select-div {
  display: grid;
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(2, 5fr);

  padding-bottom: 20px;
}

.flipped {
  transform: scaleX(-1);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1100px;
  height: 100vh;
  z-index: -1;
}

.character-Name-tag {
  width: min-content;
  background-color: rgb(68, 39, 39, 0.5);
  color: white;
  padding: 5px 10px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
}

.character-name-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-content: center;
}
.characterImage-Dashboard:hover {
  cursor: pointer;
}
.characterImage-Dashboard {
  width: 96px;
  height: 96px;
}

.displayButton {
  border: none;
  background-color: transparent;
  font-size: 50px;
  font-weight: bold;
  color: rgb(70, 70, 70);
  font-family: sans-serif;
}

.displayButton:hover {
  cursor: pointer;
  color: rgb(78, 78, 78);
}
.displayButton:active {
  color: rgb(34, 34, 34);
}

.character-list-btn {
  background: linear-gradient(rgb(255, 210, 152), rgb(231, 156, 57));

  /* background: linear-gradient(burlywood, rgb(221, 136, 24)); */

  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px black;
}
.character-list-btn:hover {
  cursor: pointer;
  background: linear-gradient(rgb(238, 197, 143), rgb(209, 141, 51));
}
.character-list-btn:active {
  background: linear-gradient(burlywood, rgb(221, 136, 24));
}
.plus-sign {
  color: rgb(255, 238, 6);
  font-size: 30px;
}
.CC-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5px;
}

.character-button-div {
  /* margin-top: 60px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Dashboard-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-div-dashboard {
  height: fit-content;
  width: fit-content;
}

.info {
  position: absolute;
  left: 100%;
  /* background-color: rgba(0, 84, 153, 0.384); */
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  padding: 5px;
  width: 200px;
  z-index: 10;
  display: none;
}

.character-div-dashboard:hover .info {
  display: block;
}

.one-character-dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
