/* TODO Add site wide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  font-family: sans-serif;
}
/* background: linear-gradient(to bottom, #28313b, #485461); */
/* background: linear-gradient(to bottom, #e0d2c7, #44b09e); */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-container {
  flex: 1;
}
.dashboard-Container-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-bg {
  background: linear-gradient(to bottom, #ff6a93, #d62e62);
}
.delete-bg:hover {
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}

.changeOrder-button {
  background: linear-gradient(to bottom, #ffdd6e, #ffa600);
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  color: white;
  font-family: sans-serif;
}

.changeOrder-button:hover {
  cursor: pointer;
}

.changeOrder-button:active {
  background: linear-gradient(to bottom, #e7c863, #ac7000);
}

.single-list-Div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.submit-btn {
  color: white;
  padding: 10px 40px;
  border-radius: 25px 25px;
  font-family: sans-serif;
  font-weight: 550;
  font-size: 20px;
  border: none;
  background: linear-gradient(to bottom, #6affa8, #2ed6b2);
  margin: 5px;
  width: 250px;
  transition-duration: 0.3s;
}
.submit-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px black;
}
.submit-btn.pressed {
  background-color: #333;
  border-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.margin-14 {
  margin: 14px;
}

video {
  width: 50%;
  object-fit: contain;
}
