/* TODO Add site wide styles */

body {
  margin: 0px;
}

.dashboard-Container-app {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; */
  /* justify-content: space-between; */
}
