.OneList-container {
    border-bottom: 2px solid black;
  border-radius: 5px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ListTitle {
  font-weight: bold;
}

.characterInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Top-OneList-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(212, 210, 210, 0.548);
  /* border-radius: 0px 25px 25px 0px; */
  border-radius: 25px;
}

.character-info-data {
  font-weight: bold;
}

.Task-title-task-container {
    /* display: flex;
    flex-direction: column;
    width: 500px; */
}

.image-backdrop{
  background-image: url('./images/Character-Select-V2.jpg');
  background-size: cover;
  /* background-size: contain; */
  background-position: center;
  /* background-size: 50% auto; */
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  border-radius: 25px 0px 0px 25px;
}

.image-character{
  position: relative; /* Added position property */
  margin-top: 18px; /* Move slightly lower by 10 pixels */

}


.tasks-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
